Binaries/
Intermediate/
Saved/
DerivedDataCache/
.vsconfig
UnrealAlgorandPlugin.sln
.idea/
.vs/
Plugins/Algorand/Binaries/
Plugins/Algorand/Intermediate/
Contents/__ExternalActors__/
Contents/__ExternalObjects__/
Contents/Collections/
Contents/Developers/