Binaries/
Intermediate/
Saved/
DerivedDataCache/
.vsconfig
UnrealAlgorandPlugin.sln
.idea/
.vs/
Plugins/Algorand/Binaries/
Plugins/Algorand/Intermediate/
Content/__ExternalActors__/
Content/__ExternalObjects__/
Content/Collections/
Content/Developers/